<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381838423448-kju7vcrg261h0akdj2o8s80idgau5h5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381838423448-kju7vcrg261h0akdj2o8s80idgau5h5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>381838423448-4o40bvnld1dlkl3gumpll6gu5hehdijr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT18LQaC7AHxRHzTE9gGhqLqKaTLMji2I</string>
	<key>GCM_SENDER_ID</key>
	<string>381838423448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krescitus.spenowr</string>
	<key>PROJECT_ID</key>
	<string>spenowr-353b5</string>
	<key>STORAGE_BUCKET</key>
	<string>spenowr-353b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381838423448:ios:ad338f26f3fc0823c067ed</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8343266125913768~5470812047</string>
</dict>
</plist>